# mundo
/world/

#infomacoes temporarias
plugins/mcMMO/flatfile/
playerdata.yml
whitelist.json
banned-ips.json
banned-players.json
usercache.json
ops.json
eula.txt
backup/
logs/
*.users
*.db

#plugins e servidor
*.jar
*.zip

#extra
.update-lock
.DS_Store
